@{

    ViewBag.Title = "Home Page";
}


<style>
  
    .jumbotron {
        text-align: center;
    }
</style>
<h1 style="background-color:white ; color:black;text-align: center; margin-top:20px ;"><b>Welcome to Home Loan</b></h1><div class="jumbotron">


   
    <img src="~/images/photo-1560518883-ce09059eeffa.jfif" width="400" hight="300" /><h1 style="color:black;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;text-align: center; margin-top:10px ;">8.5% p.a. onwards</h1>

    @*<a href="~/LoanApplication/Application" class="btn btn-success">*@
    @*<style>
        </style> Apply</a>*@
</div>